.DS_Store
.idea/
drop/
go_build_main_go

.terraform/
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
**/terraform.tfstate
**/terraform.tfstate.backup

# .tfvars files
*.tfvars
.env

*.lock
*.tfplan
*.lock.hcl